a, button, input, textarea, img {
    outline: none;
    user-select: none;
}

/* Scrollbar styling for mobile */
.overflow-y-auto::-webkit-scrollbar {
    width: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
    background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: rgba(156, 163, 175, 0.5);
    border-radius: 12px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
    background: rgba(156, 163, 175, 0.7);
}

/* Back to Top */
#scroll-top {
    display: none !important;
    opacity: 0 !important;
}

#scroll-top.show {
    display: inline !important;
    opacity: 1 !important;
}

.jello-h {
	animation: jello-horizontal;
    animation-iteration-count: 1;
	animation-duration: 0.9s;    
}

.jello-h:hover {
    animation-play-state: paused;
}

.pulsate-bck:hover {
    animation: pulsate-bck 0.9s infinite;
}

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }